@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    background-color:beige;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu' ,sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color:blanchedalmond;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    background-color:lavenderblush;
    color: rgb(13, 7, 7);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 70vh;
    display: flex;
    width: 70%;
    border-radius: 20px;
    margin: 24px auto;
    background-image: url('bg.jpg');
    padding: 34px;
    border-radius: 12px;
}
.songitems{
    height: 0px;
}
.songitems img{
    height: 39px;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color:antiquewhite;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
    padding: 0 12px;
}
#myprogressbar{
    width: 80vw;
    text-align: center;
}

















